.align-baseline {
  vertical-align: baseline !important;
}

// Browser default
.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.align-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.align-absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
